.userInfo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo .user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userInfo .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userInfo .icons {
  display: flex;
  gap: 20px;
}

.userInfo .icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .userInfo {
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .userInfo .user img {
    width: 35px;
    height: 35px;
  }

  .userInfo .icons {
    gap: 10px;
  }

  .userInfo .icons img {
    width: 18px;
    height: 18px;
  }
}
